table {
    height: 100vh;
}

.table-div {
    padding: 100px 30px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.product-table td:nth-child(1) {
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.product-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.product-table button {
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
}