<app-header></app-header>
<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-3 g-3 firstSection">
    <div class="col-4">
      <div class="card card1">
        <div class="img">
          <img src="assets/images/1.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text text-muted">New Collection</p>
          <p class="paragraph">Pendant Lamp</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card2">
        <div class="img">
          <img src="assets/images/222.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">

          <p class="card-text text-muted">Hello, Summer</p>
          <p class="paragraph">Save Up To<br> <span>50%</span> Off</p>
          <p class="text-muted"><a href="#">View Collection</a></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card3">
        <div class="img">
          <img src="assets/images/3.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text text-muted">New Collection</p>
          <p class="paragraph">Living Room<br> Up To <span>70%</span> Off</p>
        </div>
      </div>
    </div>
  </div>



  <div class="row icons">
    <div class="col-2">
      <i class="fa-solid fa-chair"></i>
      <p class="text-muted"> Chairs</p>
    </div>
    <div class="col-2">
      <i class="fa-solid fa-couch"></i>
      <p class="text-muted"> Sofa & Couch</p>
    </div>
    <div class="col-2">
      <i class="fa-regular fa-lightbulb"></i>
      <p class="text-muted"> lightnig</p>
    </div>
    <div class="col-2">
      <i class="fa-solid fa-bars"></i>
      <p class="text-muted"> tables & disk</p>
    </div>
    <div class="col-2">
      <i class="fa-solid fa-clock"></i>
      <p class="text-muted"> Clock</p>
    </div>
    <div class="col-2">
      <i class="fa-solid fa-table"></i>
      <p class="text-muted"> Commode</p>
    </div>
  </div>
</div>

<section class="newArrivals">
  <div class="container">
    <div class="row text-center">
      <h2>new arrivals</h2>
      <p class="text-muted newArrivalsP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos atque dolorum ut
        voluptatum! Explicabo quaerat atque nihil, sapiente asperiores ipsum quibusdam id libero quidem tempore
        recusandae! Eos repellat iure amet.</p>
    </div>
    <div class="row">
      <div class="row  g-4">
        <div class="col-3">
          <div class="card">
            <img src="assets/images/h1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lamb</h5>
              <p class="card-text">$27.70</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="assets/images/h4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Clock</h5>
              <p class="card-text">$20.50</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="assets/images/h3.png" class="card-img-top vaseimg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vase</h5>
              <p class="card-text">$37.10</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="assets/images/h2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chair</h5>
              <p class="card-text">$40.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vase">
  <div class="container">
    <div class="row text-center vasetitle py-5">
      <h2 class="text-uppercase">New Collection</h2>
      <p class="text-muted newArrivalsP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos atque dolorum ut
        voluptatum! Explicabo quaerat atque nihil, sapiente asperiores ipsum quibusdam id libero quidem tempore
        recusandae! Eos repellat iure amet.</p>
    </div>
    <div class="row col-12">
      <div class="col-2">
        <div class="stacked-div stacked-div1"><img src="assets/images/vase.png" alt="" /></div>
        <div class="stacked-div stacked-div2"><img src="assets/images/h7.png" alt="" /></div>
        <div class="stacked-div stacked-div3"><img src="assets/images/dish.png" alt="" /></div>
      </div>
      <div class="col-9 d-flex">
        <div class="col-8">
          <img src="assets/images/vase.png" alt="" />
        </div>
        <div class="col-4">
          <h2>Moon Vase</h2>
          <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i></p>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptas eveniet,
            tenetur ab porro itaque inventore nisi ratione minus neque, esse hic dolorem voluptatibus maxime reiciendis
            molestiae ipsam vel rem.</p>
          <h5>12.12$</h5><br>
          <button class="btn">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- <section class="featuredProducts">
  <div class="container">
    <div class="row text-center">
      <h2>Featured Products</h2>
      <p class="text-muted newArrivalsP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos atque dolorum ut
        voluptatum! Explicabo quaerat atque nihil, sapiente asperiores ipsum quibusdam id libero quidem tempore
        recusandae! Eos repellat iure amet.</p>
    </div>
    <div class="row col-12">
      <div class="col-6">
        <div class="row">
          <div class="col-10">
            <div class="card">
              <img src="assets/images/h6.png" class="card-img-top" alt="" />
              <div class="card-body">
                <h5 class="card-title">Chair</h5>
                <p class="card-text">$40.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row d-flex">
          <div class="col-2">
            <div class="card">
              <img src="assets/images/22222.png" class="card-img-top" alt="" />
              <div class="card-body">
                <h5 class="card-title">Chair</h5>
                <p class="card-text">$40.00</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card">
              <img src="assets/images/clock.png" class="card-img-top" alt="" />
              <div class="card-body">
                <h5 class="card-title">Chair</h5>
                <p class="card-text">$40.00</p>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</section> -->